* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafdfd;
}

/*>>>>>>>>>>>>>>>>>>>>>>> first section start<<<<<<<<<<<<<<<<<<<<*/

.section-1 {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 38px 0;
}
.navbar {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  background-color: #84d9dfa4;
  border-radius: 20px;
  padding: 10px;
  transition: 800ms;
  position: fixed;
  z-index: 1;
}
.navbar > img {
  width: 165px;
  height: 25px;
  margin-top: 8px;
}
.curs,
.heart,
.navbar > ul,
.navbar > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.heart > img {
  width: 24px;
  height: 24px;
}
.curs > img {
  width: 20px;
  height: 20px;
}
.curs>a{
  text-decoration: none;
  color: black;
}
.curs,
.heart > p {
  font-size: 22px;
}
.heart > p {
  color: #008d96;
}
.navbar > ul > li {
  list-style: none;
}
.navbar > ul > li > a {
  text-decoration: none;
}
.navbar > ul > li > .a1 {
  font-size: 16px;
  color: #008d96;
}
.join-li {
  width: 128px;
  height: 45px;
  border: 1px solid #008d96;
  border-radius: 40px;
  transition: 800ms;

}
.join-li2 {
  width: 206px;
  height: 45px;
  background-color: #008d96;
  border-radius: 40px;
  transition: 800ms;
}
.join-li2 > a {
  color: white;
}
.join-li2:hover{
  transform: scale(1.2)translate(10px) ;
}
.join-li:hover{
  transform: scale(1.2)translate(-10px) ;
}

/*>>>>>>>>>>>>>>>>>>>>>>> first section end<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>> second section start<<<<<<<<<<<<<<<<<<<<*/

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.back-home-page {
  width: 1440px;
  background-color: #008d96;
  background-image: url(../images/list-course-img/image\ 8.svg);
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back-home-page > .back > p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.back-home-page > .back {
  background-color: #008c9683;
  width: 1440px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-course {
  width: 1140px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}
.content-course > ul {
  display: flex;
  justify-content: left;
  gap: 25px;
  margin-top: 10px;
}
.content-course > ul > li:first-child {
  list-style: none;
}
.content-course > ul > li > a {
  text-decoration: none;
  color: #939393;
}
.content-course > ul > li > #online {
  color: black;
  font-weight: 700;
}

.info-s2 {
  width: 1140px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
.info-s2 > .info-s2-p {
  color: black;
  background-color: #f5ae1560;
  border-radius: 8px;
  padding: 5px;
  margin-right: 90px;
}
.info-s2 > .info-s2-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #939393;
}

.content-text-course {
  width: 1440px;
  display: flex;
  justify-content: center;
}
.content-text-course-int {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
}
.content-text-left {
  width: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.content-text-left > .img-text {
  display: flex;
  justify-content: space-between;
}
.content-text-left > .img-text > img {
  width: 250px;
  height: 180px;
}
.content-text-left > .img-text > p {
  font-size: 26px;
  font-weight: 700;
}
.content-text-left > p {
  font-size: 18px;
  font-weight: 500;
  color: #939393;
}
.video-lesson{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.video-lesson>p:nth-child(1),
p:nth-child(4),
p:nth-child(7),
p:nth-child(12){
  font-size: 26px;
  font-weight: 700;
  color: #008d96;
}
.video-lesson>p:nth-child(3),
p:nth-child(6),
p:nth-child(8),
p:nth-child(10)
{
  font-size: 18px;
  font-weight: 500;
  color: #939393;
}
.video-lesson>p:nth-child(9),
p:nth-child(11),
p:nth-child(14),
p:nth-child(16){
  width: 579px;
  background-color: #ECF8F9;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #CAE6E8  ;
}
.video-lesson>p:nth-child(13),
p:nth-child(15){
  font-size: 18px;
  color: #1B2221;
  font-weight: 700;
}
.video-lesson>p:nth-child(17){
  font-size: 26px;
  color: #1B2221;
  font-weight: 700;
}
.video-lesson>img{
  width: 486px;
  height: 357px;
}
.video-lesson>iframe{
  padding: 40px;
}
.text-content-rus{
  width: 580px;
  background-color: #FBFBFB ;
  border: 1px solid #ECE2CB ;
  padding:30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-content-rus>p:nth-child(1){
  font-size: 18px;
  font-weight: 700;
  color: #BE870D   ;
}
.text-content-rus>p:nth-child(2){
  font-size: 14px;
  font-weight: 500;
  color: #1B2221;
}
.text-content-rus>p:nth-child(3)>a{
  width: 60px;
  text-decoration: none;
  color: #BE870D  ;
  border: 1px solid #BE870D  ;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-content-rus>p:nth-child(4),
p:nth-child(6){
  font-size: 16px;
  font-weight: 700;
  color: #1B2221;
}
.text-content-rus>p:nth-child(5),
p:nth-child(7){
  background-color: #F9F6EF  ;
  padding: 15px;
  border: 1px solid #ECE2CB  ;
  border-radius: 10px;
  color: #1B2221;
  font-size: 14px;
}
.content-text-right {
  width: 40%;
}
.content-text-right > p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.topics {
  border: 1px solid #93939352;
  width: 400px;
}
.topic {
  display: flex;
  width: 360px;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}
.text-c {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-c > .img-clock > img {
  width: 17px;
  height: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.img-clock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.content-s2 {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}
.content-s2 > .box-s2 {
  width: 240px;
  height: 347px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.middle-s2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-s2 > .mid-s2-p {
  color: black;
  background-color: #f5ae1560;
  border-radius: 8px;
  padding: 5px;
  margin-right: 90px;
}
.middle-s2 > .mid-s2-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.356);
}
.bottom-s2 > .bot-s2-p1 {
  font-size: 18px;
  font-weight: bold;
}
.bottom-s2 > .bot-s2-p2 {
  width: 50px;
  height: 45px;
  background-color: #008d96;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*>>>>>>>>>>>>>>>>>>>>>>> second section end<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>> third section start<<<<<<<<<<<<<<<<<<<<*/
.section-4 {
  width: 1440px;
  background-color: #008d96;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 100px 150px;
  gap: 120px;
}
.box1-s4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.box2-s4 > ul,
.box3-s4 > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.box2-s4 > ul > li > a,
.box3-s4 > ul > li > a {
  text-decoration: none;
  color: white;
}
.box4-s4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.box4-s4 > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}
.box4-s4 > .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box4-s4 > .bottom > input {
  width: 290px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid white;
}
.box4-s4 > .bottom > p {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5af15;
  border-radius: 60px;
  margin-left: -55px;
  border: 1px solid #ffae01;
}
.footer-bottom {
  width: 1142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}
.footer-bottom > p {
  margin: 20px 0;
}
/*>>>>>>>>>>>>>>>>>>>>>> third section end<<<<<<<<<<<<<<<<<<<<*/
